script, title {
    display: none;
}

html {
    font-size: 16px;
}
body {
    font-family: Verdana;
    color: #fff;
    background-color: #000;
    text-align: center;
}

a {
    color : Aquamarine;
    font-size: 1rem;
}

h1 {
    font-size: 3.125rem;
    font-weight: 400;
}

h2 {
    font-weight: 300;
    font-size: 2.625rem;
}

p {
    font-size: 1.3125rem;
    color: #808080;
}

footer {
    text-align: right;
    color: #808080;
}